*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(240, 238, 241);
}
nav{
    background-color: rgb(255,251,251);
    display: flex;
    justify-content: space-between;
    height: 12vh;
    
}
.navBar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 75px;
    font-size: 2.1rem;
}
.logIn button{
font-size: 1.4rem;
padding: 13px;
border-radius: 12px;
border: none;
}
.dashboard{
    height: 80vh;
    display: flex;
}
.addButton{
   margin: 25px auto 0;
}
#addBook {
    font-size: 2rem;
    padding: 13px;
border-radius: 12px;
border: 3px solid black;
background-color: rgb(255,251,251);
}

footer{
    text-align: center;
    font-size: 1.5rem;
}

